<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title></title>
        <style>
            .main{
                width: 100%;
                height: 800px;
                overflow: hidden;
            }
            .main-left,.main-right{
                float: left;
                width: 50%;
                height: 800px;
            }
            .main-left{
                border: 100px;

            }
            .main-right{
             border: 100px;
            }
        </style>
    </head>
    <body>
<!--        <h1 style="text-align:center; background-color: #f0ad4e;">2020年高职骨干教师人工智能教学核心能力提升高级研修班</h1>-->
        <h1 style="text-align:center; background-color: #f0ad4e;">2022年鲲鹏云运维与应用开发核心能力高级研修班（国培）培训</h1>
        <div class="main">
             <br>
            <div class="main-left"> <img src={{path}} width="400" height="400" alt="not found"/> </div>
            <div class="main-right">     <br> {{label}}
            </div>
        </div>
        <h1 style="text-align:center; background-color: #B0E0E6;">广东科学技术职业学院</h1>
    </body>
</html>